<ion-header>
  <ion-navbar color={{colour}}>
    <ion-icon ion-button menuToggle name="md-menu" style="zoom:1.5;"></ion-icon>
    <ion-title>
      <!-- News of the World.. -->
      <!-- <ion-icon name="md-bookmark" style="right:50px"></ion-icon> -->
        <button ion-button end color={{colour}} icon-only (tap)="presentPopover($event)" style="float:right; box-shadow:none">
          <ion-icon name="md-more"></ion-icon>
        </button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color={{colour}}>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <div style="text-align: center;">
          <br>
          <img src={{base64Image}} *ngIf="base64Image" style="border-radius:50%; width:56%;"/>
          <br>
          <h3>{{name}}</h3>
      </div>

      <ion-list>
        <button ion-item (click)="openSearchPage()">
            <ion-icon name="md-search"></ion-icon>
            &nbsp; Search
        </button>
        <button ion-item (click)="openNewsPage()">
            <ion-icon name="md-paper"></ion-icon>
            &nbsp; Local News
        </button>
        <button ion-item (click)="openBookmarkPage()">
            <ion-icon name="ios-bookmarks"></ion-icon>
            &nbsp; Bookmarks
        </button>
        <button ion-item showWhen="android,ios" (click)="openCamera()">
            <ion-icon name="md-camera"></ion-icon>
            &nbsp; Add Picture
        </button>
        <button ion-item (click)="openSettingsPage()">
            <ion-icon name="md-settings"></ion-icon>
            &nbsp; Settings
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<ion-content padding>
    <div>
        <ion-segment [(ngModel)]="NEWS">
          <ion-segment-button value=1 (click)="loadNews('ie','')">
              IRELAND
            </ion-segment-button>
            <ion-segment-button value=2 (click)="loadNews('gb','')">
              UK
            </ion-segment-button>
            <ion-segment-button value=3 (click)="loadNews('us','')">
              US
              </ion-segment-button>
            <ion-segment-button value=4 (click)="loadNews('ie','&category=business')">
              BUSINESS 
            </ion-segment-button>
            <!-- <ion-segment-button value=5 (click)="loadNews('ie','&category=technology')">
              TECHNOLOGY
            </ion-segment-button> -->
        </ion-segment>
      </div>

   <ion-list>
      <ion-list-header [ngSwitch]="NEWS">
          <h2 *ngSwitchCase=1>IRELAND</h2>
          <h2 *ngSwitchCase=2>UK</h2>
          <h2 *ngSwitchCase=3>US</h2>
          <h2 *ngSwitchCase=4>BUSINESS</h2>
          <!-- <h2 *ngSwitchCase=5>TECHNOLOGY</h2> -->
      </ion-list-header>
      <ion-item-sliding #item *ngFor = "let n of news">
        <ion-item>
          <ion-thumbnail item-start>
            <img src={{n.urlToImage}} style="border-radius:50%">
          </ion-thumbnail>
            <a href={{n.url}}><h2>{{n.title}}</h2></a>
            <p>{{n.description}}</p>
            <br>
            <p>{{n.source.name}}</p>
        </ion-item> 
    
        <ion-item-options side="right">
          <button ion-button end color={{colour}} icon-only (tap)="bookmark(n.urlToImage, n.url, n.title, n.description, n.source.name)">
            &nbsp;&nbsp;<ion-icon name="ios-bookmarks"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
      
    </ion-list>
</ion-content>

<ion-footer>
  <social-media></social-media>
</ion-footer>