<!-- Display the fab on the bottom right of each page with social media links. -->
<ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="md-add"></ion-icon></button>
    <ion-fab-list side="left">
      <a href="https://plus.google.com/discover"><button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button></a>
      <a href="https://twitter.com/?lang=en"><button ion-fab><ion-icon name="logo-twitter"></ion-icon></button></a>
      <a href="https://www.facebook.com/"><button ion-fab><ion-icon name="logo-facebook"></ion-icon></button></a>
    </ion-fab-list>
</ion-fab>
